*{
    margin: 0;
    padding:0;
}
/* shared styles */
.primary-bg{
    background-color: #F5F5F5;
}
.primary-btn{
    padding: 15px 30px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: .3s;
}
body{
    font-family: "Fira Sans", serif;
    background-color: #F5F5F5;
}
.section-primary{
    margin: auto 160px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* fonts */
.fira-sans-fontfam{
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.fira-sans{
    font-family: "Fira Sans", serif;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
/* nav styles */
nav{
    padding: 31px 160px;
    display: flex;
    justify-content: space-between;
    font-family: "Fira Sans", serif;
    margin-bottom: 20px;
}
nav .title{
    font-size: 32px;
    color: #0E0E0E;
    font-weight: 700;
}
nav .nav-btn{
    color: #006A50;
    border: 2px solid #006A50;
}
nav .nav-btn:hover{
    background-color: #006A50;
    color: #fff;
    border: 2px solid #006A50;
}

/* banner styles */
.banner{
    background-color: #C6E4D6;
    display: flex;
    border: none;
    border-radius: 24px;
}
.banner-content{
    padding: 117px 60px;
    max-width: 622px;
}
.banner-content .subtitle{
    font-weight: 500; 
    margin-bottom: 16px;
    font-size: 24px;     
}
.banner-content .title{
    font-weight: 700; 
    margin-bottom: 24px;
    font-size: 56px;   
}
.banner-content .banner-btn{
    margin-bottom: 24px;
    color: #fff;
    background-color: #006A50;
    font-size: 18px;
    padding: 17px 34px;
    
}
.banner-content .banner-btn:hover{
    color: #efe3e1;
    background-color: #044750;
}
.banner .banner-img{
    padding: 80px 60px;
    width: 474px;
    height: 400px;
}

/* visison styles */
.vision{
    margin: 80px 160px;
}
.vision .title{
    font-size: 40px;
    color: #0E0E0E;
    font-weight: 700;
    margin-bottom: 24px;
}
.vision .desciption{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: normal;
}

.vision .cards{
    display: flex;
    gap: 24px;
}
.vision .card{
    background-color: #C6E4D6;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
    border-radius: 16px;
}